<div class="container-fluid pl-3 pt-0 pb-3">
    <footer class="border-top footer" style="width:98%">
        <p class="mt-3 pb-0 mb-0">Empresa - Provincia del Chaco</p>
        <p class="pt-0 mt-0"><small class="text-muted pt-0">Resistencia, Chaco. Argentina</small></p>
    </footer>
</div>