<header>
    <div class="container-fluid">
        <div class="navbar-light navbar-expand-sm bg-white border-bottom box-shadow pt-3">
            <div class="row mb-3">
                <div class="col-auto align-content-center align-middle ">
                </div>
                <div class="col">
                    <p class="navbar-brand m-0 p-0">Fondo de Estimulo</p>
                    <partial name="_LoginPartial" />
                </div>
                <div class="col-auto">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>