@page
@model FondoEstimulo.Areas.Aplicacion.Pages.Procesos.CreateModel

@{
    ViewData["Title"] = "Nuevo registro - Procesos mensuales";
}

<h2 class="text-primary">
    Procesos mensuales
    <small class="text-muted">- Nuevo registro -</small>
</h2>
<hr />

<div class="row">
    <div class="col">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="Proceso.Periodo" class="control-label col-sm-3">
                    @Html.DisplayNameFor(model => model.Proceso.Periodo):
                </label>
                <div class="col-sm-9">
                    <input asp-for="Proceso.Periodo" class="form-control" placeholder="01/01/1990" />
                    <span asp-validation-for="Proceso.Periodo" class="text-danger"></span>
                </div>
            </div>
            @{
                if (!String.IsNullOrEmpty(Model.ErrorMessage))
                {
                    <p class="alert alert-danger">@Model.ErrorMessage</p>
                }
            }
        <div class="form-group">
            <button type="submit" value="Agregar" class="btn btn-primary"><i class="bi-plus-square mr-2"></i>Agregar</button>
            <button type="reset" value="Limpiar" class="btn btn-sm btn-outline-primary"><i class="bi-recycle mr-2"></i>Limpiar</button>
            <a asp-page="./Listado" class="btn btn-sm btn-outline-primary"><i class="bi-box-arrow-in-left mr-2"></i>Volver al listado</a>
        </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}