@page
@model FondoEstimulo.Areas.Aplicacion.Pages.Cuenta.RecursoDenegadoModel
@{
    ViewData["Title"] = "Recurso denegado - Usuario";
}

<h2 class="text-primary">
    Usuario
    <small class="text-muted">- Recurso denegado -</small>
</h2>
<br />
<p class="alert alert-danger">No posee permiso para acceder a este recurso.</p>