@page
@model EstablecerContrasenaModel
@{
    ViewData["Title"] = "Establecer contraseña - Usuario";
}

<div class="row">
    <div class="col-md-6 mx-auto">
        <h2>
            Usuario
            <small class="text-muted">- Establecer contraseña -</small>
        </h2>
        <hr />
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Contrasena"></label>
                <input asp-for="Input.Contrasena" class="form-control" />
                <span asp-validation-for="Input.Contrasena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmarContrasena"></label>
                <input asp-for="Input.ConfirmarContrasena" class="form-control" />
                <span asp-validation-for="Input.ConfirmarContrasena" class="text-danger"></span>
            </div>
            <button type="submit" value="Confirmar" class="btn btn-primary"><i class="bi-check-square mr-2"></i>Confirmar</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}