@page
@model Mantenimiento
@{
    ViewData["Title"] = "Mantenimiento";
}

<div class="row">
    <div class="col-md-6 mx-auto">
        <h2 class="text-info">Estado en mantenimiento</h2>
        <h5>En este momento nos encontramos actualizando la página.</h5>
        <h5>Reintente nuevamente en unos minutos.</h5>
    </div>
</div>